{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>شرکت یزدان بافت ایرانیان - تولید کننده بیتو بگ قیر, کیسه قیر, جامبو بگ و پلی بگ قیر</title>
    <link rel="stylesheet" href="../static/css/about_us.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="../static/images/logoyazdan_32x32.ico" type="image/x-icon">
</head>
<body>
    <nav class="nav">
        <div class="menu">
            <label for="chk1">
                <ion-icon class="menu-btn" name="menu"></ion-icon>
            </label>
        </div>
        <div class="logo"><a href="/home"><img src="../static/images/logo-yazdan%20(2).png"></a></div>
        <div class="search-box">
            <form>
                <label>
                    <input type ="text" name ="search" id ="srch" placeholder="جست و جو">
                </label>
                <button type ="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <ul>
            <li><a href="/home">خانه</a></li>
            <li><a href="/blog">مقالات</a></li>
            <li><a href="/product">محصولات</a></li>
            <li><a href="/about-us">درباره ما</a></li>
            <li>
                <a href="tel:+989122857381"><ion-icon name="call-outline"></ion-icon></a>
                <a href="https://api.whatsapp.com/send?phone=+989122857381" target="_blank"><ion-icon name="logo-whatsapp"></ion-icon></a>
                <a href="https://maps.app.goo.gl/KEnVCG1zKCzi52kw7 " target="_blank"><ion-icon name="location-sharp"></ion-icon></a>
            </li>
        </ul>
    </nav>
    </span><h1 class="first-title">درباره ما - تماس با ما</h1>
    <section class="row">
        <article class="col">
            <h2>درباره شرکت یزدان بافت</h2>
            <div class="text-box">
                <p style="text-align: justify;">شرکت یزدان بافت فعالیت خود را در زمینه تولید کلیه مشتقات پلیمری، تولید گونی های پلاستیکی (پلی پروپیلن) و نایلون های عریض (پلی اتیلن)، بافت و دوخت کلیه گونی های صنعتی از قبیل انواع جامبو بگ، بیگ بگ و بیتوبگ آغاز نمود و با توجه به کیفیت بالای محصولات، در طی زمان فعالیت خود توانست رضایت مشتریان را جلب نمیاد.</p>
                <p style="text-align: justify;">محصولات ما انواع جامبو بگ ، بیگ بگ و بیتو بگ در اندازه های مختلف (۵۰۰ تا ۲۵۰۰ کیلو گرمی) با مارک و بدون مارک، در مدل های ۸ بند، ۴ بند ، ۲ بند ، ۱ سر قیف و ۲ سر قیف و همچنین نایلون حریر با قیمت بسیار مناسب و طبق استاندارد های بین المللی می باشد.</p>
            </div>
            <img src="../static/images/jumbobag3.jpg">
        </article>
    </section>
    <section class="item-row">
        <article class="item-col">
            <figure>
                <h2 class="item-title">تماس با ما</h2>
                <p>مدیر عامل</p>
                <a href="tel:+989122857381">| 7381 285 912 98+ |</a>
                <a href="tel:+989121244160">| 160 1244 912 98+ |</a>
                <p>مدیر فروش</p>
                <a href="#">09905427782</a>
            </figure>
            <p>برای ثبت سفارش و تماس بر روی شماره ها کلیک کنید</p>
            <a href="/representatives"><button class="btn">نماینده های ما</button></a>
        </article>
        <article class="item-col">
            <figure>
                <h2 class="item-title">آدرس</h2>
                <p>آدرس دفتر</p>
                <a href="#">ج آدران - نرسیده به اسد اباد - شهرک صنعتی صباشهر(جوانزاد) - رو به روی کشتار گاه قائم - گلستان 4 - پ44 و پ19</a>
            </figure>
            <p>برای نمایش مکان ما روی آدرس ها کلیک کنید</p>
            <a href="https://maps.app.goo.gl/KEnVCG1zKCzi52kw7" target="_blank"><button class="btn">مکان ما</button></a>
        </article>
        <article class="item-col">
            <figure>
                <h2 class="item-title">سایت های ما</h2>
                <p>یزدان بافت ایرانیان</p>
                <a href="https://yazdanbaft.ir/" target="_blank">کلیک کنید</a>
                <p>پوریا بافت معین</p>
                <a href="https://pouryabaft.ir/" target="_blank">کلیک کنید</a>
            </figure>
            <p>برای ثبت سفارش و تماس بر روی شماره ها کلیک کنید</p>
            <a><button class="btn">سایت های ما</button></a>
        </article>
        <article class="item-col">
            <figure>
                <h2 class="item-title">ما در شبکه های اجتماعی</h2>
                <p>واتساپ</p>
                <a href="https://api.whatsapp.com/send?phone=+989122857381" target="_blank">کلیک کنید</a>
                <p>تلگرام</p>
                <a href="https://telegram.me/+989122857381" target="_blank">کلیک کنید</a>
            </figure>
            <p>برای ثبت سفارش و تماس بر روی شماره ها کلیک کنید</p>
            <a><button class="btn">شبکه های اجتماعی</button></a>
        </article>
    </section>
        <!-- footer -->
        <footer class="footer">
            <div class="section-center">
                <div class="social-icons">
                <!-- social icon -->
                <a href="#" class="social-icon">
                    <ion-icon name="call"></ion-icon>
                </a>
                <!-- end of social icon -->
                <!-- social icon -->
                <a href="#" class="social-icon">
                    <ion-icon name="location-sharp"></ion-icon>
                </a>
                <!-- end of social icon -->
                <!-- social icon -->
                <a href="#" class="social-icon">
                    <ion-icon name="logo-whatsapp"></ion-icon>
                </a>
                <!-- end of social icon -->
            </div>
            <a class="footer-text" href="/contact-us">پیامی دارید؟برای ما با کلیک کردن پیام بگذارید</a>
            <p class="footer-text">&copy; ۱۴۰۳ وب‌سایت یزدان بافت. تمامی حقوق محفوظ است. | طراحی توسط TopUP</p>
            </div>
        </footer>
        <button id="scrollBtn"><ion-icon name="arrow-up-circle"></ion-icon></button>
        <!-- end! -->
    <script>
        function openModal() {
        var modal = document.getElementById("myModal");
        modal.style.display = "block";
        setTimeout(function () {
            modal.classList.add("show");
        }, 50); // Adding a slight delay for better animation
        }

        // Function to close the modal with animation
        function closeModal() {
        var modal = document.getElementById("myModal");
        modal.classList.remove("show");
        setTimeout(function () {
            modal.style.display = "none";
        }, 300); // The duration of the animation (in milliseconds)
        }

        // Close the modal if the user clicks outside the modal content
        window.onclick = function (event) {
        var modal = document.getElementById("myModal");
        if (event.target == modal) {
            closeModal();
        }
        };
    </script>
    <script>
        function toggleMenu() {
            var menuUl = document.querySelector(".nav ul");
            menuUl.classList.toggle("show");
        }

        document.querySelector(".menu-btn").addEventListener("click", function () {
            // Toggle the mobile menu
            toggleMenu();
        });

        document.querySelectorAll(".nav ul li a").forEach(function (menuItem) {
            menuItem.addEventListener("click", function () {
            // Hide the mobile menu
            toggleMenu();
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
        var scrollBtn = document.getElementById("scrollBtn");

        window.addEventListener("scroll", function () {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                scrollBtn.classList.add("show");
            } else {
                scrollBtn.classList.remove("show");
            }
        });

        scrollBtn.addEventListener("click", function () {
            scrollToTop(1000); // Scroll to top with animation in 1000 milliseconds (1 second)
        });

        function scrollToTop(duration) {
            var start = document.documentElement.scrollTop || document.body.scrollTop;
            var startTime = Date.now();

            function scroll() {
                var currentTime = Date.now();
                var timeElapsed = currentTime - startTime;
                document.documentElement.scrollTop = document.body.scrollTop = easeInOutQuad(timeElapsed, start, -start, duration);

                if (timeElapsed < duration) {
                    requestAnimationFrame(scroll);
                } else {
                    document.documentElement.scrollTop = document.body.scrollTop = 0;
                }
            }

            function easeInOutQuad(t, b, c, d) {
                t /= d / 2;
                if (t < 1) return c / 2 * t * t + b;
                t--;
                return -c / 2 * (t * (t - 2) - 1) + b;
            }

            requestAnimationFrame(scroll);
        }
    });
    </script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>