{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>شرکت یزدان بافت ایرانیان - تولید کننده بیتو بگ قیر, کیسه قیر, جامبو بگ و پلی بگ قیر</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="../static/images/logoyazdan_32x32.ico" type="image/x-icon">
</head>
<body>
    <nav class="nav">
        <div class="menu">
            <label for="chk1">
                <ion-icon class="menu-btn" name="menu"></ion-icon>
            </label>
        </div>
        <div class="logo"><a href="/home"><img src="../static/images/logo-yazdan%20(2).png"></a></div>
        <div class="search-box">
            <form>
                <label>
                    <input type ="text" name ="search" id ="srch" placeholder="جست و جو">
                </label>
                <button type ="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <ul>
            <li><a href="/home">خانه</a></li>
            <li><a href="/blog">مقالات</a></li>
            <li><a href="/product">محصولات</a></li>
            <li><a href="/about-us">درباره ما</a></li>
            <li>
                <a href="#"><ion-icon name="call-outline"></ion-icon></a>
                <a href="#"><ion-icon name="logo-whatsapp"></ion-icon></a>
                <a href="#"><ion-icon name="location-sharp"></ion-icon></a>
            </li>
        </ul>
    </nav>
    <header>
        <figure class="filled-shape">
            <img src="../static/images/jumbobag1.png">
            <h1>یزدان بافت اولین تولید کننده ی گونی در استان تهران</h1>
            <figcaption>یزدان بافت شرکتی با استاندارد های روز جهانی پا به عرصه تولید گونی های 1 تا 2 تنی گذاشته. یزدان بافت از سال 1380 با نام های تجاری دیگر مانند تلیس بافت و پوریا بافت تاسیس شده. یزدان بافت با دستگاه های بروز گونی دوزی و گونی بافی کیفیت کالای شما را تضمین میکند.</figcaption>
        </figure>
        <figure class="about-sack">
            <h2>گونی‌های جامبو بگ، بیتو بگ و بیگ بگ چیست؟ - فروش و اطلاعات فنی</h2>
            <figcaption>در جستجوی بهترین گونی‌های جامبو بگ، بیتو بگ و بیگ بگ با کیفیت برای نیازهای شما؟ ما به عنوان یک منبع قابل اعتماد فراهم کننده این گونی‌ها در ایران، با افتخار خدمت شما هستیم.

    ما گونی‌های جامبو بگ را با طراحی‌های خاص و جذاب ارائه می‌دهیم. این بیتو بگ ها و بیگ بگ ها از پلاستیک با کیفیت بالا ساخته شده‌اند و از جنس‌ها و رنگ‌های متنوعی برخوردار هستند.

    با مشاهده نمونه‌های گونی جامبو بگ در گالری تصاویر ما،مجذور انتخابات متنوع ما خواهید شد.

    قیمت‌های ما مناسب و پیشنهادات ویژه‌ای برای خرید گونی‌های بزرگ ارائه داده‌ایم. برای اطلاعات فنی بیشتر و خرید، با ما تماس بگیرید.</figcaption>
            </figure>
        </header>
        <article class="skill">
            <span class="skill-icon">
                <i class="fa fa-desktop" aria-hidden="true"></i>
            </span>
            <h3 class="skill-title">پشتیبانی آنلاین و تلفنی</h3>
            <!-- ten words -->
            <p class="skill-text">
                یزدان بافت دارای پشتیبانی 24 ساعته برای پاسخگویی میباشد.
            </p>
        </article>
        <!-- end of single skill -->
        <!-- single skill -->
        <article class="skill">
            <span class="skill-icon">
                <i class="fa fa-file" aria-hidden="true"></i>
            </span>
            <h3 class="skill-title">کیفیت بالای محصولات</h3>
            <!-- ten words -->
            <p class="skill-text">
                با ما کیفیت محصولات خود را تضمین کنید.
            </p>
        </article>
        <!-- end of single skill -->
        <!-- single skill -->
        <article class="skill">
            <span class="skill-icon">
                <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
            </span>
            <h3 class="skill-title">پرداخت امن</h3>
            <!-- ten words -->
            <p class="skill-text">
                پرداختی امن و راحت با یزدان بافت ایرانیان داشته باشید.
            </p>
        </article>
        <!-- end of single skill -->
        <!-- single skill -->
        <article class="skill">
            <span class="skill-icon">
                <i class="fa fa-warning" aria-hidden="true"></i>
            </span>
            <h3 class="skill-title">گارانتی محصولات</h3>
            <!-- ten words -->
            <p class="skill-text">
                با گارانتی از محصولات خود اطمینان حاصل نمایید.
            </p>
        </article>
        <!-- Products -->
        <h2 class="h2">محصولات ما:</h2>
        <section class="row">
            <article class="col">
                <figure>
                    <img src="../static/images/bitubag1.png">
                    <h2>بیتو بگ</h2>
                    <figcaption>158لورم ایپسوم</figcaption>
                </figure>
                <a href="#"><button class="more">بیشتر بخوانید</button></a>
            </article>
            <article class="col">
                <figure>
                    <img src="../static/images/bitubag1.png">
                    <h2>بیتو بگ</h2>
                    <figcaption>لورم ایپسوم</figcaption>
                </figure>
                <a href="#"><button class="more">بیشتر بخوانید</button></a>
            </article>
            <article class="col">
                <figure>
                    <img src="../static/images/bitubag1.png">
                    <h2>بیتو بگ</h2>
                    <figcaption>لورم ایپسوم</figcaption>
                </figure>
                <a href="#"><button class="more">بیشتر بخوانید</button></a>
            </article>
            <article class="col">
                <figure>
                    <img src="../static/images/bitubag1.png">
                    <h2>بیتو بگ</h2>
                    <figcaption>لورم ایپسوم</figcaption>
                </figure>
                <a href="#"><button class="more">بیشتر بخوانید</button></a>
            </article>
        </section>
        <!-- gallery -->
        <h2 class="h2">عکس و ویدیو های تولید</h2>
        <section class="gallery-row">
            <article class="gallery-col">
                <div class="modal" id="myModal">
                    <div class="modal-content">
                      <span class="close" onclick="closeModal()">&times;</span>
                      <img class="modal-img" src="../static/images/SPRK_default_preset_name_custom_1.png">
                    </div>
                  </div>
                  <img onclick="openModal()" src="../static/images/SPRK_default_preset_name_custom_1.png">
            </article>
            <article class="gallery-col">
                <div class="modal" id="myModal">
                    <div class="modal-content">
                      <span class="close" onclick="closeModal()">&times;</span>
                      <img class="modal-img" src="../static/images/SPRK_default_preset_name_custom_1.png">
                    </div>
                  </div>
                  <img onclick="openModal()" src="../static/images/SPRK_default_preset_name_custom_1.png">
            </article>           
            <article class="gallery-col">
                <div class="modal" id="myModal">
                    <div class="modal-content">
                      <span class="close" onclick="closeModal()">&times;</span>
                      <img class="modal-img" src="../static/images/SPRK_default_preset_name_custom_1.png">
                    </div>
                  </div>
                  <img onclick="openModal()" src="../static/images/SPRK_default_preset_name_custom_1.png">
            </article>           
            <article class="gallery-col">
                <div class="modal" id="myModal">
                    <div class="modal-content">
                      <span class="close" onclick="closeModal()">&times;</span>
                      <img src="../static/images/SPRK_default_preset_name_custom_1.png">
                    </div>
                  </div>
                  <img onclick="openModal()" src="../static/images/SPRK_default_preset_name_custom_1.png">
            </article>
        </section>
        <!-- certificate -->
        <h2 class="h2">گواهی نامه ها:</h2>
        <section class="cert-row">
            <article class="cert-col">
                <a href="/certificates"><img class="img-cert" src="../static/images/cert (1).jpg"></a>
            </article>
        </section>
        <!-- footer -->
        <footer class="footer">
            <div class="section-center">
                <div class="social-icons">
                <!-- social icon -->
                <a href="#" class="social-icon">
                    <ion-icon name="call"></ion-icon>
                </a>
                <!-- end of social icon -->
                <!-- social icon -->
                <a href="#" class="social-icon">
                    <ion-icon name="location-sharp"></ion-icon>
                </a>
                <!-- end of social icon -->
                <!-- social icon -->
                <a href="#" class="social-icon">
                    <ion-icon name="logo-whatsapp"></ion-icon>
                </a>
                <!-- end of social icon -->
            </div>
            <a class="footer-text" href="/contact-us">پیامی دارید؟برای ما با کلیک کردن پیام بگذارید</a>
            <p class="footer-text">&copy; ۱۴۰۳ وب‌سایت یزدان بافت. تمامی حقوق محفوظ است. | طراحی توسط TopUP</p>
            </div>
        </footer>
        <button id="scrollBtn"><ion-icon name="arrow-up-circle"></ion-icon></button>
        <!-- end! -->
    <script>
        function openModal() {
        var modal = document.getElementById("myModal");
        modal.style.display = "block";
        setTimeout(function () {
            modal.classList.add("show");
        }, 50); // Adding a slight delay for better animation
        }

        // Function to close the modal with animation
        function closeModal() {
        var modal = document.getElementById("myModal");
        modal.classList.remove("show");
        setTimeout(function () {
            modal.style.display = "none";
        }, 300); // The duration of the animation (in milliseconds)
        }

        // Close the modal if the user clicks outside the modal content
        window.onclick = function (event) {
        var modal = document.getElementById("myModal");
        if (event.target == modal) {
            closeModal();
        }
        };
    </script>
    <script>
        function toggleMenu() {
            var menuUl = document.querySelector(".nav ul");
            menuUl.classList.toggle("show");
        }

        document.querySelector(".menu-btn").addEventListener("click", function () {
            // Toggle the mobile menu
            toggleMenu();
        });

        document.querySelectorAll(".nav ul li a").forEach(function (menuItem) {
            menuItem.addEventListener("click", function () {
            // Hide the mobile menu
            toggleMenu();
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
        var scrollBtn = document.getElementById("scrollBtn");

        window.addEventListener("scroll", function () {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                scrollBtn.classList.add("show");
            } else {
                scrollBtn.classList.remove("show");
            }
        });

        scrollBtn.addEventListener("click", function () {
            scrollToTop(1000); // Scroll to top with animation in 1000 milliseconds (1 second)
        });

        function scrollToTop(duration) {
            var start = document.documentElement.scrollTop || document.body.scrollTop;
            var startTime = Date.now();

            function scroll() {
                var currentTime = Date.now();
                var timeElapsed = currentTime - startTime;
                document.documentElement.scrollTop = document.body.scrollTop = easeInOutQuad(timeElapsed, start, -start, duration);

                if (timeElapsed < duration) {
                    requestAnimationFrame(scroll);
                } else {
                    document.documentElement.scrollTop = document.body.scrollTop = 0;
                }
            }

            function easeInOutQuad(t, b, c, d) {
                t /= d / 2;
                if (t < 1) return c / 2 * t * t + b;
                t--;
                return -c / 2 * (t * (t - 2) - 1) + b;
            }

            requestAnimationFrame(scroll);
        }
    });
    </script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>