{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>شرکت یزدان بافت ایرانیان - درباره ما - تماس با ما</title>
    {% for item in seo %}
        <meta name="description" content="{{ item.description }}"/>
        <meta name="keywords" content="{{ item.keywords }}">
    {% if item.Fa_Href_Lang and item.Fa_Href_Lang_Url %}<link rel="alternate" hreflang="fa" href="{{ item.Fa_Href_Lang_Url }}" />{% endif %}
    {% endfor %}
    <link rel="stylesheet" href="/static/css/resource.css">
    <link rel="stylesheet" href="/static/css/about_us.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/static/images/logoyazdan_32x32.ico" type="image/x-icon">
</head>
<body>
    {% include "Fa/nav.html" %}
    {% block content %}
    {% endblock %}
    <h1 class="first-title">درباره ما - تماس با ما</h1>
    <section class="row">
        <article class="col">
            <h2>درباره شرکت یزدان بافت</h2>
            <div class="text-box">
                <p style="text-align: justify;">شرکت یزدان بافت فعالیت خود را در زمینه تولید کلیه مشتقات پلیمری، تولید گونی های پلاستیکی (پلی پروپیلن) و نایلون های عریض (پلی اتیلن)، بافت و دوخت کلیه گونی های صنعتی از قبیل انواع جامبو بگ، بیگ بگ و بیتوبگ آغاز نمود و با توجه به کیفیت بالای محصولات، در طی زمان فعالیت خود توانست رضایت مشتریان را جلب نمیاد.</p>
                <p style="text-align: justify;">محصولات ما انواع جامبو بگ ، بیگ بگ و بیتو بگ در اندازه های مختلف (۵۰۰ تا ۲۵۰۰ کیلو گرمی) با مارک و بدون مارک، در مدل های ۸ بند، ۴ بند ، ۲ بند ، ۱ سر قیف و ۲ سر قیف و همچنین نایلون حریر با قیمت بسیار مناسب و طبق استاندارد های بین المللی می باشد.</p>
            </div>
            <img class="img" src="/static/images/jumbobag3.jpg">
        </article>
    </section>
    <section class="item-row">
        <article class="item-col">
            <figure>
                <h2 class="item-title">تماس با ما</h2>
                <h3>مدیر عامل</h3>
                <p>شماره اول</p>
                <a href="tel:+989122857381"><button class="call-btn"><i class="fa fa-telegram"></i></button></a>
                <a href="tel:+989122857381"><button class="call-btn"><i class="fa fa-phone"></i></button></a>
                <a href="tel:+989122857381"><button class="call-btn"><i class="fa fa-whatsapp"></i></button></a>
                <p>شماره دوم</p>
                <a href="tel:+989121244160"><button class="call-btn"><i class="fa fa-telegram"></i></button></a>
                <a href="tel:+989121244160"><button class="call-btn"><i class="fa fa-phone"></i></button></a>
                <a href="tel:+989121244160"><button class="call-btn"><i class="fa fa-whatsapp"></i></button></a>
                <h3>مدیر فروش</h3>
                <a href="tel:+989127663749"><button class="call-btn"><i class="fa fa-telegram"></i></button></a>
                <a href="tel:+989127663749"><button class="call-btn"><i class="fa fa-phone"></i></button></a>
                <a href="tel:+989127663749"><button class="call-btn"><i class="fa fa-whatsapp"></i></button></a>
                <h3>ثابت و نمابر</h3>
                <a href="tel:+989127663749"><button class="call-btn"><i class="fa fa-phone"></i></button></a>
                <a href="tel:+989127663749"><button class="call-btn"><i class="fa fa-fax"></i></button></a>
            </figure>
            <p>برای ثبت سفارش و تماس بر روی شماره ها کلیک کنید</p>
            <a href="/fa/representatives"><button class="btn">نماینده های ما</button></a>
        </article>
        <article class="item-col">
            <figure>
                <h2 class="item-title">آدرس</h2>
                <h3>آدرس دفتر</h3>
                <a href="https://maps.app.goo.gl/KEnVCG1zKCzi52kw7">ج آدران - نرسیده به اسد اباد -  رو به روی کشتار گاه قائم - گلستان 4 - شهرک صنعتی صباشهر(جوانزاد) - پ44 و پ19</a>
                <a href="https://maps.app.goo.gl/KEnVCG1zKCzi52kw7">
                    <div class="map-box">
                        <div class="map-layer"><p>click for view</p></div>
                        <div class="map"><img src="/static/images/Screenshot%202024-08-02%20232055.png" alt="map"></div>
                    </div>
                </a>
            </figure>
            <p>برای نمایش مکان ما روی آدرس ها کلیک کنید</p>
            <a href="https://maps.app.goo.gl/KEnVCG1zKCzi52kw7" target="_blank"><button class="btn">مکان ما</button></a>
        </article>
        <article class="item-col" style="padding: 0 40px">
            <figure>
                <h2 class="item-title">سایت های ما</h2>
                <br>
                <h3>سایت دوم یزدان بافت</h3>
                <div class="logo-sites">
                    <a href="https://yazdanbaft.ir/" target="_blank">
                        <img src="/static/images/logo-yazdanf-300x77%20(1).png" alt="second-site-yazdanbaft-logo">
                    </a>
                    <a target="_blank" href="https://yazdanbaft.ir/"><button class="plus-btn"><ion-icon name="add-outline"></ion-icon></button></a>
                </div>
                <br>
                <h3>سایت سوم یزدان بافت(پوریا بافت سابق)</h3>
                <div class="logo-sites">
                    <a href="https://pouryabaft.ir/" target="_blank">
                        <img src="../../static/images/puryabaft%20(1).png" alt="third-site-pouryabaft-logo">
                    </a>
                    <a target="_blank" href="https://pouryabaft.ir/"><button class="plus-btn"><ion-icon name="add-outline"></ion-icon></button></a>
                </div>
            </figure>
            <p>برای رفتن به سایت ها کلیک کنید</p>
            <a target="_blank" href="https://yazdanbaft.ir/"><button class="btn">سایت های ما</button></a>
        </article>
        <article class="item-col">
            <figure>
                <h2 class="item-title">ما در شبکه های اجتماعی</h2>
                <div class="social-box">
                    <a href="https://api.whatsapp.com/send?phone=+989122857381" target="_blank"><button class="social-btn"><i class="fa fa-whatsapp"></i></button></a>
                    <a href="https://telegram.me/+989122857381" target="_blank"><button class="social-btn"><i class="fa fa-telegram"></i></button></a>
                    <a href="#" target="_blank"><button class="social-btn"><i class="fa fa-instagram"></i></button></a>
                </div>
            </figure>
            <p>برای ثبت سفارش و تماس بر روی شماره ها کلیک کنید</p>
            <a target="_blank" href="https://telegram.me/+989122857381"><button class="btn">شبکه های اجتماعی</button></a>
        </article>
    </section>
    {% include "Fa/footer.html" %}
    {% block footer %}
    {% endblock %}
</body>
</html>