{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>مقالات - شرکت یزدان بافت ایرانیان</title>
    {% for item in seo %}
        <meta name="description" content="{{ item.description }}"/>
        <meta name="keywords" content="{{ item.keywords }}">
    {% if item.Fa_Href_Lang and item.Fa_Href_Lang_Url %}<link rel="alternate" hreflang="fa" href="{{ item.Fa_Href_Lang_Url }}" />{% endif %}
    {% endfor %}
    <link rel="stylesheet" href="/static/css/resource.css">
    <link rel="stylesheet" href="/static/css/blog.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/static/images/logoyazdan_32x32.ico" type="image/x-icon">
</head>
<body>
    {% include "Fa/nav.html" %}
    {% block content %}
    {% endblock %}
    <section class="row">
        <h1 style="font-family: font2;margin-bottom: 50px; font-size: 35pt;">مقالات</h1>
        {% for item in blogs %}
            <article class="col">
                <figure class="figure">
                    <div class="img">
                        <img src="/{{ item.picture }}">
                    </div>
                    <h2>{{ item.name }}</h2>
                    <figcaption>{{ item.discription }}</figcaption>
                    <a href="/fa/blog/{{ item.id }}"><button class="btn">ادامه مطلب</button></a>
                </figure>
            </article>
        {% endfor %}
    </section>
    {% include "Fa/footer.html" %}
    {% block footer %}
    {% endblock %}
</body>
</html>
