{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% for item in blogs_detail %} {{ item.main_title }}{% endfor %} - شرکت یزدان بافت ایرانیان</title>
    {% for item in seo %}
        <meta name="description" content="{{ item.description }}"/>
        <meta name="keywords" content="{{ item.keywords }}">
    {% if item.Fa_Href_Lang and item.Fa_Href_Lang_Url %}<link rel="alternate" hreflang="fa" href="{{ item.Fa_Href_Lang_Url }}" />{% endif %}
    {% endfor %}
    <link rel="stylesheet" href="/static/css/resource.css">
    <link rel="stylesheet" href="/static/css/blog.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/static/images/logoyazdan_32x32.ico" type="image/x-icon">
</head>
<body>
    {% include "Fa/nav.html" %}
    {% block content %}
    {% endblock %}
    <section class="content-row">
        {% for item in blogs_detail %}
            <article class="content-col">
                <figure>
                    <div class="d">
                        <h1 class="title">{{ item.main_title }}</h1>
                        <img src="/{{ item.picture }}">
                    </div>
                    <p class="title-caption" style="margin-bottom: 30px">{{ item.discription }}</p>
                    <figcaption class="title-caption">{{ item.main_discription }}</figcaption>
                    {% if item.title1 %}
                        <h2 class="secondry-title">{{ item.title1 }}</h2>
                        {% if item.picture1 %}<img {% if item.left1 and item.right1 %} class="center" {% elif item.left1 %} class="left" {% elif item.right1 %} class="right" {% else %} class="center" {% endif %} src="/{{ item.picture1 }}">{% endif %}
                        <figcaption class="caption">{{ item.discription1 }}</figcaption>
                    {% endif %}
                    {% if item.title2 %}
                        <h2 class="secondry-title">{{ item.title2 }}</h2>
                        {% if item.picture1 %}<img {% if item.left2 and item.right2 %} class="center" {% elif item.left2 %} class="left" {% elif item.right2 %} class="right" {% else %} class="center" {% endif %} src="/{{ item.picture2 }}">{% endif %}
                        <figcaption class="caption">{{ item.discription2 }}</figcaption>
                    {% endif %}
                    {% if item.title3 %}
                        <h2 class="secondry-title">{{ item.title3 }}</h2>
                        {% if item.picture1 %}<img {% if item.left3 and item.right3 %} class="center" {% elif item.left3 %} class="left" {% elif item.right3 %} class="right" {% else %} class="center" {% endif %} src="/{{ item.picture3 }}">{% endif %}
                        <figcaption class="caption">{{ item.discription3 }}</figcaption>
                    {% endif %}
                    {% if item.title4 %}
                        <h2 class="secondry-title">{{ item.title4 }}</h2>
                        {% if item.picture1 %}<img {% if item.left4 and item.right4 %} class="center" {% elif item.left4 %} class="left" {% elif item.right4 %} class="right" {% else %} class="center" {% endif %} src="/{{ item.picture4 }}">{% endif %}
                        <figcaption class="caption">{{ item.discription4 }}</figcaption>
                    {% endif %}
                    {% if item.title5 %}
                        <h2 class="secondry-title">{{ item.title5 }}</h2>
                        {% if item.picture1 %}<img {% if item.left5 and item.right5 %} class="center" {% elif item.left5 %} class="left" {% elif item.right5 %} class="right" {% else %} class="center" {% endif %} src="/{{ item.picture5 }}">{% endif %}
                        <figcaption class="caption">{{ item.discription5 }}</figcaption>
                    {% endif %}
                </figure>
            </article>
        {% endfor %}
    </section>
    {% include "Fa/footer.html" %}
    {% block footer %}
    {% endblock %}
</body>
</html>