{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% for item in seo %}
        <title>{{ item.title }}</title>
        <meta name="description" content="{{ item.description }}"/>
        <meta name="keywords" content="{{ item.keywords }}">
    {% if item.Fa_Href_Lang and item.Fa_Href_Lang_Url %}<link rel="alternate" hreflang="fa" href="{{ item.Fa_Href_Lang_Url }}" />{% endif %}
    {% endfor %}
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/alert.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/static/images/logoyazdan_32x32.ico" type="image/x-icon">
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div id="alert" class="alert" role="alert">
                <strong>{{ message }}</strong>
                <a class="alert-btn" id="close-alert"><ion-icon name="close-outline"></ion-icon></a>
            </div>
        {% endfor %}
    {% endif %}
    {% include "Fa/nav.html" %}
    {% block content %}
    {% endblock %}
    <header>
        <figure class="filled-shape">
            <img src="/static/images/jumbobag1.png">
            <h1>یزدان بافت اولین تولید کننده ی گونی در استان تهران</h1>
            <figcaption>یزدان بافت شرکتی با استاندارد های روز جهانی پا به عرصه تولید گونی های 1 تا 2 تنی گذاشته. یزدان بافت از سال 1380 با نام های تجاری دیگر مانند تلیس بافت و پوریا بافت تاسیس شده. یزدان بافت با دستگاه های بروز گونی دوزی و گونی بافی کیفیت کالای شما را تضمین میکند.</figcaption>
        </figure>
        <figure class="about-sack">
            <h2>گونی‌های جامبو بگ، بیتو بگ و بیگ بگ چیست؟ - فروش و اطلاعات فنی</h2>
            <figcaption>در جستجوی بهترین گونی‌های جامبو بگ، بیتو بگ و بیگ بگ با کیفیت برای نیازهای شما؟ ما به عنوان یک منبع قابل اعتماد فراهم کننده این گونی‌ها در ایران، با افتخار خدمت شما هستیم.

    ما گونی‌های جامبو بگ را با طراحی‌های خاص و جذاب ارائه می‌دهیم. این بیتو بگ ها و بیگ بگ ها از پلاستیک با کیفیت بالا ساخته شده‌اند و از جنس‌ها و رنگ‌های متنوعی برخوردار هستند.

    با مشاهده نمونه‌های گونی جامبو بگ در گالری تصاویر ما،مجذور انتخابات متنوع ما خواهید شد.

    قیمت‌های ما مناسب و پیشنهادات ویژه‌ای برای خرید گونی‌های بزرگ ارائه داده‌ایم. برای اطلاعات فنی بیشتر و خرید، با ما تماس بگیرید.</figcaption>
            </figure>
        </header>
        <article class="skill">
            <span class="skill-icon">
                <i class="fa fa-desktop" aria-hidden="true"></i>
            </span>
            <h3 class="skill-title">پشتیبانی آنلاین و تلفنی</h3>
            <!-- ten words -->
            <p class="skill-text">
                یزدان بافت دارای پشتیبانی 24 ساعته برای پاسخگویی میباشد.
            </p>
        </article>
        <!-- end of single skill -->
        <!-- single skill -->
        <article class="skill">
            <span class="skill-icon">
                <i class="fa fa-file" aria-hidden="true"></i>
            </span>
            <h3 class="skill-title">کیفیت بالای محصولات</h3>
            <!-- ten words -->
            <p class="skill-text">
                با ما کیفیت محصولات خود را تضمین کنید.
            </p>
        </article>
        <!-- end of single skill -->
        <!-- single skill -->
        <article class="skill">
            <span class="skill-icon">
                <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
            </span>
            <h3 class="skill-title">پرداخت امن</h3>
            <!-- ten words -->
            <p class="skill-text">
                پرداختی امن و راحت با یزدان بافت ایرانیان داشته باشید.
            </p>
        </article>
        <!-- end of single skill -->
        <!-- single skill -->
        <article class="skill">
            <span class="skill-icon">
                <i class="fa fa-warning" aria-hidden="true"></i>
            </span>
            <h3 class="skill-title">گارانتی محصولات</h3>
            <!-- ten words -->
            <p class="skill-text">
                با گارانتی از محصولات خود اطمینان حاصل نمایید.
            </p>
        </article>
        <!-- Products -->
        <h2 class="h2">محصولات ما:</h2>
        <section class="row">
            {% for item in products %}
                <article class="col">
                    {% if item.is_special %}
                        <span class="sale">ویژه!</span>
                    {% endif %}
                    <figure>
                        <img src="/{{ item.picture }}">
                        <h2>{{ item.name }}</h2>
                        <figcaption>{{ item.discription }}</figcaption>
                    </figure>
                    <a href="/fa/product/{{ item.id }}"><button class="more">بیشتر بخوانید</button></a>
                </article>
            {% endfor %}
        </section>
        <!-- gallery -->
        <h2 class="h2">عکس و ویدیو های تولید</h2>
        <section class="gallery-row">
            {% for item in gallery %}
                <article class="gallery-col">
                    <div class="gallery">
                        <img class="img--" src="/{{ item.file }}" alt="Image 1" onclick="openModal('/{{ item.file }}')">
                    </div>

                    <div id="myModal" class="modal">
                        <div class="content">
                            <span class="close" onclick="closeModal()">&times;</span>
                            <img class="modal-content" id="modalImage">
                        </div>
                    </div>
                </article>
            {% endfor %}
        </section>
        <!--  our colleagues  -->
        <h2 class="h2">همکاران ما</h2>
        <div class="car-container">
            <section class="carousel-row">
                {% for item in col %}
                    <article class="carousel-col">
                        <div class="img-border">
                            <img src="/{{ item.image }}" alt="Image 1">
                        </div>
                    </article>
                {% endfor %}
            </section>
        </div>
        <div class="line"></div>
        <!-- certificate -->
        <h2 class="h2">گواهی نامه ها:</h2>
        <section class="cert-row">
            <article class="cert-col">
                <a href="/fa/certificate"><img class="img-cert" src="/static/images/cert (1).jpg"></a>
            </article>
        </section>
        <!-- footer -->
        <footer class="footer">
            <div class="section-center">
                <div class="social-icons">
                    <!-- social icon -->
                    <a href="tel:+989122857381" class="social-icon">
                        <ion-icon name="call"></ion-icon>
                    </a>
                    <!-- end of social icon -->
                    <!-- social icon -->
                    <a href="https://maps.app.goo.gl/KEnVCG1zKCzi52kw7" class="social-icon">
                        <ion-icon name="location-sharp"></ion-icon>
                    </a>
                    <!-- end of social icon -->
                    <!-- social icon -->
                    <a href="https://api.whatsapp.com/send?phone=+989122857381" class="social-icon">
                        <ion-icon name="logo-whatsapp"></ion-icon>
                    </a>
                    <!-- end of social icon -->
                </div>
                <a class="footer-text" href="/fa/contact-us">پیامی دارید؟برای ما با کلیک کردن پیام بگذارید</a>
                <p class="footer-text">&copy; ۱۴۰۳ وب‌سایت یزدان بافت. تمامی حقوق محفوظ است. | طراحی توسط TopUP</p>
                <a href="/en">
                    <p class="footer-text" href="/en">عوض کردن زبان</p>
                    <ion-icon name="globe-outline"></ion-icon>
                </a>
            </div>
        </footer>
        <button id="scrollBtn"><ion-icon name="arrow-up-circle"></ion-icon></button>
        <!-- end! -->
    <script src="/static/js/car.js"></script>
    <script src="/static/js/scripts.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>