.first-title{
    text-align: center;
    margin-top: 160px;
    margin-bottom: 10px;
    font-family: font2;
    color: rgb(50, 50, 65);
    animation: loadtransformws 3s;
}
.row{
    display: block;
    width: 100%;
}
.row .col{
    width: 100%;
    padding: 30px;
    text-align: center;
    border-bottom-style: groove;
    border-top-style: groove;
    animation: loadtransformws 3s;
}
.text-box{
    padding-right: 300px;
    padding-left: 300px;
}
@media screen and (max-width:1100px){
    .text-box{
        padding-right: 100px;
        padding-left: 100px;
    }
}
@media screen and (max-width:600px){
    .text-box{
        padding-right: 0;
        padding-left: 0;
    }
}
.item-row{
    display: block;
    width: 100%;
    padding: 30px;
    text-align: center;
}
.item-col{    
    display: inline-block;
    margin-top: 5px;
    width: 400px;
    height: 350px;
    background-color: rgb(50, 50, 65);
    color: #ffffff;
    border-radius: 15px;
    text-align: center;
    animation: loadtransformws 3s;
}
@media screen and (max-width: 490px){
    .item-col{
        width: 100%;
    }
    .img{
        width: 100%;
    }
    .row .col{
        padding: 30px;
    }
}
.item-col figure{
    font-size: 15pt;
    height: 250px;
}
.item-col figure a{
    text-decoration: none;
    color: #fff;
}
.item-title{
    font-size: 22pt;
}
.item-col figure a:hover{
    color: #5c5c5c;
}
.btn{
    border: none;
    font-family: font1;
    font-size: 14pt;
    color: #fff;
    border-radius: 10px;
    background-color: #0e3c92;
    width: 150px;
    height: 50px;
}
.btn:hover{
    background-color: #6199ff;
    color: #303030;
}
@keyframes loadtransform{
    0%{
        opacity: 0;
        scale: 1.2;
    }
    100%{
        opacity: 1;
        scale: 1;
    }
}
@keyframes loadtransformws{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}