.alert{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100;
    padding: 15px;
    width: 560px;
    height: 56px;
    background: linear-gradient(
    to left,
    #0f2bb6,
    #0068ff
    );
    text-align: center;
    border-radius: 5px;
    color: white;
}
.alert-btn{
    position: absolute;
    right: 30px;
    transition: 0.3s;
}
.alert-btn:hover {
    color: white;
}
.alert-close{
    animation: alert-close .2s forwards;
}
@keyframes alert-close {
    100%{
        opacity: 0;
        to {
            display: none;
        }
    }
    0%{
       opacity: 100%;
    }
}
@media screen and (max-width: 600px){
    .alert{
        width: 100%;
        right: 0;
    }
}