.h2{
    text-align: center;
    font-family: font2;
}
.row{
    margin-top: 120px;
    width: 100%;
    padding: 100px;
    transition: .5s;
    text-align: center;
}
.row .col{
    position: relative;
    margin-top: 15px;
    margin-right: 10px;
    display: inline-block;
    width: 500px;
    height: 500px;
    background: linear-gradient(-45deg,#f403d1,#64b5f6);
    text-align: center;
    border-radius: 5px;
    animation: loadtransformws 3s;
}
@media screen and (max-width: 730px){
    .row .col{
        width: 100%;
    }
    .row {
        padding: 40px;
    }
}
.col:hover{
    transform: scale(1.04);
}
.col figure figcaption{
    padding: 5px;
    height: 100px;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 250px;
    width: 100%;
    background: linear-gradient(-45deg, #bb03a0, #367db5);
    border-radius: 10px 10px 50% 50%;
}
.col img{
    margin-bottom: 5px;
    position: relative;
    border: none;
    border-radius: 10px;
    height: 260px;
}
.more{
    font-family: font2;
    width: 120px;
    height: 40px;
    background-color: #3d3d3d;
    color: white;
    border: none;
    border-radius: 40px;
    transition: .6s;
}
.more:hover{
    background-color: #7a7a7a;
    transform: scale(1.2);
}
@media screen and (max-width: 625px){
    .row{
        margin-top: 200px;
        padding: 0;
    }
    .row .col{
        width: 300px;
        margin-right: 0;
    }
}
.class-icon{
    display: inline;
}
.icon{
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #b917d5;
    border: none;
    border-radius: 5px;
    transition: .5s;
}
.icon:hover{
    color: white;
    background-color: rgb(82, 82, 82);
}
.btn{
    margin-top: 10px;
    width: 150px;
    height: 50px;
    font-family: font2;
    border: none;
    border-radius: 25px;
    background-color: rgba(168, 168, 168, 0.507); 
    transition: .5s;
}
.btn:hover{
    background-color: rgb(82, 82, 82);
    color: white;
}
@keyframes beat {
	from {	transform: rotate(-20deg) scale(1); }
	to {	transform: rotate(-20deg) scale(1.1); }
}
@keyframes loadtransform{
    0%{
        opacity: 0;
        scale: 1.2;
    }
    100%{
        opacity: 1;
        scale: 1;
    }
}
@keyframes loadtransformws{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* bl-det */
.content-row{
    width: 100%;
    animation: loadtransformws 3s;
}
.content-row .content-col{
    text-align: center;
    padding: 50px;
    margin-top: 200px;
}
.content-row .title{
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 20px #ffffff, 0 0 20px #ffffff,0 0 20px #ffffff;
    color: #000;
    position: absolute;
    top: 20px;
    font-size: 35pt;
    z-index: 2;
    left: 20%;
    font-family: font2;
    margin: 5px 20px 5px 0;
    border-right: #ff004c 5px solid;
    text-align: justify;
    padding: 20px;
    max-width: 1380px;
}
.content-row .secondry-title{
    margin-top: 20px;
    font-family: font2;
    font-size: 30pt;
}
.content-row .caption{
    text-align: justify;
    font-size: 15pt;
}
.d{
    height: 100%;
    width: 100%;
    position: relative
}
.d img{
    float: right;
    width: 80%;
    height: auto;
    margin-top: -50px;
    margin-bottom: 150px;
    border-radius: 15px;
}
.title-caption{
    display: inline-block;
    text-align: justify;
    font-size: 18pt;
}
.right{
    margin: 30px;
    float: right;!important;
    width: 40%;!important;
}
.left{
    margin: 30px;;
    float: left;!important;
    width: 40%;!important;
}
.center{
    float: none;!important;
    margin: 30px;;
    width: 20%;!important;
}
@media screen and (max-width: 800px){
    .content-row .title {
        top: 90px;
        font-size: 15pt;
    }
    .content-col img{
        margin-top: 80px;
        width: 100%;
        height: auto;
    }
    .left, .right, .center{
        margin: 0;
    }
    .content-row .content-col{
        margin-top: 100px;
    }
}
@media screen and (max-width: 420px) {
    .content-row .title {
        font-size: 7pt;
        left: 0;
        right: 0;
    }
    .content-row .secondry-title{
        font-size: 20pt;
    }
}