body{
    background: url("../images/1014.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: font1;
    direction: rtl;
}
/* start */
.row{
    text-align: center;
    width: auto;
    min-width: 350px;
    max-width: 100%;
    min-height: 100%;
    padding: 20px 160px;
}
.sale {
	position: relative;
    top: 10px;
    left: -145px;
	display: inline-block;
	background: #be2d28;
	color: white;
	height: 2.5rem;
	width: 2.5rem;
	text-align: center;
	vertical-align: middle;
	line-height: 2.5rem;
	transform: rotate(-20deg);
	animation: beat 1s ease infinite alternate;
	&:before,
	&:after {
		content:"";
		position: absolute;
		background: inherit;
		height: inherit;
		width: inherit;
		top: 0;
		left: 0;
		z-index: -1;
		transform: rotate(30deg);
	}
	&:after {
		transform: rotate(60deg);
	}
}
@keyframes beat {
	from {	transform: rotate(-20deg) scale(1); }
	to {	transform: rotate(-20deg) scale(1.1); }
}
.row .col{
    margin-right: 15px;
    margin-top: 30px;
    display: inline-block;
    width: 350px;
    height: 650px;
    background-color: rgb(50, 50, 65);
    text-align: center;
    border-radius: 15px;
    transition: .3s;
}
@media screen and (max-width: 800px){
    .row{
        padding: 0;
        margin-top: 150px;
    }
    .row .col{
        margin-right: 0;
    }
}
.img{
    margin: 20px;
    border-radius: 15px;
    max-width: 300px;
    max-height: 300px;
    transition: 0.3s;
}
.img:hover{
    opacity: 50%;
}
.modal-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.modal-img img {
    margin: 10px;
    cursor: pointer;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
    animation: opacity 1s;
}
@keyframes opacity {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}
.modal-content {
    margin: auto;
    display: block;
    width: 40%;

}
.content{
    margin-top: 200px;
}
.close {
    position: absolute;
    top: 150px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
    cursor: pointer;
}
@media screen and (max-width: 1200px){
    .modal{
        width: 100%;
    }
    .modal-img{
        width: 100%
    }
}
@keyframes loadtransform{
    0%{
        opacity: 0;
        scale: 1.2;
    }
    100%{
        opacity: 1;
        scale: 1;
    }
}
@keyframes loadtransformws{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.title{
    height: 70px;
    font-family: font2;
    color: #fff;
}
.main-title{
    margin-top: 150px;
    text-align: center;
    color: rgb(50, 50, 60);
}
.caption{
    color: white;
    height: 230px;
    padding: 40px;
    text-align: center;
    background: linear-gradient(
    to left,
    #004e96,
    #13304d
    );
    border-radius: 50% 50% 15px 15px
}
/* footer */
.footer {
    border-radius: 50% 50% 0 0;
    background-color: rgb(50, 50, 65);
    text-align: center;
    padding: 60px;
}
.social-icon {
    color: var(--mainWhite);
    font-size: 1.3rem;
    margin-right: 1rem;
    transition: var(--mainTransition);
}
.social-icon:hover {
    color: var(--primaryColor);
}
.footer-text {
    text-transform: uppercase;
    color: var(--mainWhite);
    margin-top: 1rem;
    font-size: 0.85rem;
}
.footer a {
    text-decoration: none;
}
.topic{
    text-align: center;
    font-family: 'poppins', sans-serif;
    font-size: 30px;
    color: #162938;
}
/* footer */

* {box-sizing: border-box}

.tab {
      float: left;
      border: 1px solid #ccc;
      background-image: linear-gradient(to bottom right, #0051ff, #00ffd3);
      width: 20%;
      height:1500px;
}

.tab button {
      display: block;
      background-color: inherit;
      color: black;
      padding: 22px 16px;
      width: 100%;
      border: none;
      outline: none;
      font-size: 15pt;
      text-align: left;
      cursor: pointer;
      transition: 0.3s;
}

.tab button:hover {
      background-color: #ddd;
}

.tab button.active {
      background-color: #ccc;
}

.tabcontent {
      float: left;
      padding: 0px 12px;
      border: 1px solid #ccc;
      width: 80%;
    color: white;
      background-color: rgba(0, 0, 0, 0.28);
      border-left: none;
      height: auto;
}
.certii {
    width: 100%;
    margin: 0 auto;
}