body{
    direction: ltr;!important;
}
.footer-text{
    font-family: sans-serif;!important;
    letter-spacing: var(--letterSpacing);
}
.filled-shape{
    border-radius: 0;!important;
    border-bottom-right-radius: 50%;!important;
    border-top-right-radius: 50%;!important;
}
.about-sack{
    right: 0;!important;
    left: 60%;!important;
    bottom: 20%;!important;
}
.content-col figcaption{
    font-size: 14pt;!important;
}