/* start */
.h2{
    text-align: center;
    font-family: font2;
}
.row-p{
    margin-top: 120px;
    width: 100%;
    padding: 100px;
    transition: .5s;
    text-align: center;
}
.row-p .col-p{
    position: relative;
    margin-top: 15px;
    margin-right: 10px;
    display: inline-block;
    width: 400px;
    height: 500px;
    background: linear-gradient(
         to left,
         rgb(27, 64, 118),
         rgb(52, 119, 219),
         rgb(27, 64, 118)
    );    
    text-align: center;
    border-radius: 5px;
    animation: loadtransformws 3s;
}
.col-p:hover{
    transform: scale(1.04);
}
.col-p figure figcaption{
    padding: 5px;
    height: 100px;
}
.img{
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: rgb(23, 39, 107);
    border-radius: 10px 10px 50% 50%;
}
.col-p img{
    margin-bottom: 5px;
    position: relative;
    border: none;
    border-radius: 10px;
    max-width: 300px;
    max-height: 260px;
}
.more{
    font-family: font2;
    width: 120px;
    height: 40px;
    background-color: #3d3d3d;
    color: white;
    border: none;
    border-radius: 40px;
    transition: .6s;
}
.more:hover{
    background-color: #7a7a7a;
    transform: scale(1.2);
}
@media screen and (max-width: 625px){
    .row-p{
        margin-top: 200px;
        padding: 0;
    }
    .row-p .col-p{
        width: 300px;
        margin-right: 0;
    }
}
.btn{
    margin-top: 10px;
    width: 150px;
    height: 50px;
    font-family: font2;
    border: none;
    border-radius: 25px;
    background-color: rgb(96, 160, 255, 0.507); 
    transform: .5s;
}
.btn:hover{
        background-color: rgb(0, 102, 255);
        color: white;
}
.sale {
	position: absolute;
    top: -4px;
    left: -4px;
	display: inline-block;
	background: #be2d28;
	color: white;
	height: 2.5rem;
	width: 2.5rem;
	text-align: center;
	vertical-align: middle;
	line-height: 2.5rem;
	transform: rotate(-20deg);
	animation: beat 1s ease infinite alternate;
	&:before,
	&:after {
		content:"";
		position: absolute;
		background: inherit;
		height: inherit;
		width: inherit;
		top: 0;
		left: 0;
		z-index: -1;
		transform: rotate(30deg);
	}
	&:after {
		transform: rotate(60deg);
	}
}
@keyframes beat {
	from {	transform: rotate(-20deg) scale(1); }
	to {	transform: rotate(-20deg) scale(1.1); }
}
@keyframes loadtransform{
    0%{
        opacity: 0;
        scale: 1.2;
    }
    100%{
        opacity: 1;
        scale: 1;
    }
}
@keyframes loadtransformws{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* pr-det */
.side{
    padding: 100px 40px;
    margin-top: 80px;
    text-align: center;
    background: linear-gradient(
    to left,
    #0c75d9,
    #003366
    );
    height: 100%;
    width: 100%;
}
.content-row{
    width: 100%;
    animation: loadtransformws 3s;
}
.content-row .content-col{
    text-align: center;
    padding: 50px;
    margin-top: 20px;
}
.content-col figcaption{
    font-size: 16pt;
}
.side .title {
    color: #fff;
    font-size: 35pt;
    font-family: font2;
}
.secondry-title{
    margin-top: 20px;
    font-family: font2;
    font-size: 30pt;
}
.side .caption{
    text-align: justify;
    font-size: 15pt;
}
.side img{
    width: 400px;
    height: auto;
    border-radius: 15px;
}
.title-caption{
    color: white;
    font-size: 18pt;
}
.right{
    margin: 30px;
    float: right;!important;
    width: 40%;!important;
}
.left{
    margin: 30px;;
    float: left;!important;
    width: 40%;!important;
}
.center{
    float: none;!important;
    margin: 30px;;
    width: 20%;!important;
}
@media screen and (max-width: 900px){
    .side img {
        width: 250px;
    }
    .side .title {
        font-size: 20pt;
    }
}
