@font-face {
    font-family: font1;
    src: url(../fonts/VAZIRMATN-REGULAR.TTF);
}
@font-face {
    font-family: font2;
    src: url(../fonts/VAZIRMATN-BLACK.TTF);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s;
}
:root {
  --primaryColor: #a82424;
  --secondaryColor: #52353d;
  --mainDark: #52353d;
  --mainWhite: #fff;
  --mainGrey: #e5e5e5;
  --slantedText: "Grand Hotel", cursive;
  --mainTransition: all 0.3s linear;
  --letterSpacing: 0.5rem;
}
body{
    height: 100vh;
    font-family: font1;
    direction: rtl;
}
.container-fluid{
    width: 100%;
    height: auto;
}
.nav{
    border-radius: 0 0 50% 50%;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 150px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background: rgb(50, 50, 65);
}
#chk1{
    display: none;
}
ion-icon {
    cursor: pointer;
    font-size: 20pt;
    color: white;
}
ion-icon:hover {
    color: #6a6a6a;
}
.menu-btn{
    font-size: 30pt;
    margin-top: 15px;
}
.nav .logo{
    flex: 1;
    color:#fff;
    font-family: font2;
    text-transform: uppercase;
    font-size: 28pt;
}
.nav .search-box{
    flex: 1;
    position: relative;
}
.search-box input {
    width:100%;
    height: 40px;
    border: none;
    outline: none;
    background:#f2f2f2;
    border-radius: 10px;
    font-family: font1;
    color:black;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 40px;
    text-align: center;
}
.search-box button {
    cursor: pointer;
    width:40px;
    height: 40px;
    border-radius: 10px;
    border:none;
    position: absolute;
    top:0;
    right: 0;
    transform: scale(0.9);
    background: rgb(23, 39, 107);
    color: #fff;
}
.search-box button:hover{
    background: rgb(0, 56, 255);
}
.nav ul {
    flex:2;
    display: flex;
    justify-content: space-evenly;
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 16pt;
    text-transform: uppercase;
    padding: 10px 15px;
    transition: all .4s;
}
.nav ul li a:hover{
    color: #6a6a6a;
}
.nav .menu{
    font-size: 2.5em;
    display: none;
}
.menu ion-icon:hover{
    transform: rotate(90deg);
}
@media screen and (max-width: 1215px) {
    .nav ul {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
    .nav ul.show {
        display: flex;
    }
    .nav ul li {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
    .nav .menu {
        display: block;
        width: 50px;
        text-align: center;
    }
    #chk1:checked ~ ul {
        right: 0;
    }
    .nav ul li a {
        font-size: 20pt;
    }
    .nav .logo {
        display: none;
    }
    .search-box {
        flex: 2;
        margin-right: auto;
    }
    .search-box input {
        width: 80%;
        padding-right: 5px;
        padding-left: 5px;
    }
    .search-box button {
        width: 20%;
    }
}
#scrollBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: rgb(50, 50, 65);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: opacity 0.3s ease-in-out;
}

#scrollBtn.show {
    display: block;
}
/* start */
.h2{
    text-align: center;
    font-family: font2;
}
.row-p{
    margin-top: 120px;
    width: 100%;
    padding: 100px;
    transition: .5s;
    text-align: center;
}
.row-p .col-p{
    position: relative;
    margin-top: 15px;
    margin-right: 10px;
    display: inline-block;
    width: 400px;
    height: 500px;
    background: linear-gradient(
         to left,
         rgb(27, 64, 118),
         rgb(52, 119, 219),
         rgb(27, 64, 118)
    );    
    text-align: center;
    border-radius: 5px;
    animation: loadtransformws 3s;
}
.col-p:hover{
    transform: scale(1.04);
}
.col-p figure figcaption{
    padding: 5px;
    height: 100px;
}
.img{
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: rgb(23, 39, 107);
    border-radius: 10px 10px 50% 50%;
}
.col-p img{
    margin-bottom: 5px;
    position: relative;
    border: none;
    border-radius: 10px;
    max-width: 300px;
    max-height: 260px;
}
.more{
    font-family: font2;
    width: 120px;
    height: 40px;
    background-color: #3d3d3d;
    color: white;
    border: none;
    border-radius: 40px;
    transition: .6s;
}
.more:hover{
    background-color: #7a7a7a;
    transform: scale(1.2);
}
@media screen and (max-width: 625px){
    .row-p{
        margin-top: 200px;
        padding: 0;
    }
    .row-p .col-p{
        width: 300px;
    }
}
.btn{
    margin-top: 10px;
    width: 150px;
    height: 50px;
    font-family: font2;
    border: none;
    border-radius: 25px;
    background-color: rgb(96, 160, 255, 0.507); 
    transform: .5s;
}
.btn:hover{
        background-color: rgb(0, 102, 255);
        color: white;
}
.sale {
	position: absolute;
    top: -4px;
    left: -4px;
	display: inline-block;
	background: #be2d28;
	color: white;
	height: 2.5rem;
	width: 2.5rem;
	text-align: center;
	vertical-align: middle;
	line-height: 2.5rem;
	transform: rotate(-20deg);
	animation: beat 1s ease infinite alternate;
	&:before,
	&:after {
		content:"";
		position: absolute;
		background: inherit;
		height: inherit;
		width: inherit;
		top: 0;
		left: 0;
		z-index: -1;
		transform: rotate(30deg);
	}
	&:after {
		transform: rotate(60deg);
	}
}
@keyframes beat {
	from {	transform: rotate(-20deg) scale(1); }
	to {	transform: rotate(-20deg) scale(1.1); }
}
@keyframes loadtransform{
    0%{
        opacity: 0;
        scale: 1.2;
    }
    100%{
        opacity: 1;
        scale: 1;
    }
}
@keyframes loadtransformws{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* pr-det */
.side{
    padding: 100px 40px;
    margin-top: 80px;
    text-align: center;
    background: linear-gradient(
    to left,
    #0c75d9,
    #003366
    );
    height: 100%;
    width: 100%;
}
.content-row{
    width: 100%;
    animation: loadtransformws 3s;
}
.content-row .content-col{
    text-align: center;
    padding: 50px;
    margin-top: 20px;
}
.side .title {
    color: #fff;
    font-size: 35pt;
    font-family: font2;
}
.secondry-title{
    margin-top: 20px;
    font-family: font2;
    font-size: 30pt;
}
.side .caption{
    font-size: 15pt;
}
.side img{
    width: 400px;
    height: auto;
    border-radius: 15px;
}
.title-caption{
    color: white;
    font-size: 18pt;
}
@media screen and (max-width: 900px){
    .side img {
        width: 250px;
    }
    .side .title {
        font-size: 20pt;
    }
}
/* footer */
.footer {
    border-radius: 50% 50% 0 0;
    background-color: rgb(50, 50, 65);
    text-align: center;
    padding: 60px;
}
.social-icon {
    color: var(--mainWhite);
    font-size: 1.3rem;
    margin-right: 1rem;
    transition: var(--mainTransition);
}
.social-icon:hover {
    color: var(--primaryColor);
}
.footer-text {
    text-transform: uppercase;
    color: var(--mainWhite);
    margin-top: 1rem;
    font-size: 0.85rem;
}
.footer a {
    text-decoration: none;
}
.topic{
    text-align: center;
    font-family: 'poppins', sans-serif;
    font-size: 30px;
    color: #162938;
}
/* footer */