/* start */
.row{
    margin-top: 150px;
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}
.row .col{
    width: 70%;
    min-height: 400px;
    max-height: 800px;
    display: block;
    border-bottom: groove 2px;
    margin: 0 auto;
}
.row .col:first-child{
    border-radius: 10px 10px 0 0;
}
.row .col:last-child{
    border-radius: 0 0 10px 10px;
    border-bottom: 0;
}
.row .col:hover {
    background-color: #9f1e1e;
}
.img{
    margin-top: 5px;
    border-radius: 10px;
    display: inline;
    max-width: 200px;
    max-height: 200px;
}
.title{
    display: inline;
    color: #fff;
}
.caption{
    display: inline-block;
    font-size: 16pt;
    text-decoration: none;
    color: #fff;
    margin: 0 30px ;
}