/* start */
h2{
    margin-top: 170px;
    text-align: center;
    color: white;
    font-size: 19pt;
    animation: loadtransformws 3s;
}
.row{
    width: 100%;
    padding: 80px;
}
.row .col{
    height: 250px;
    width: 100%;
    display: block;
    padding: 20px;
    border-top: 2px #fff solid;
    border-bottom: 2px #fff solid;
    animation: loadtransformws 3s;
    text-align: center;
}
.content-box{
    display: flex;
}
.content{
    margin: 40px;
    padding: 10px;
    color: #fff;
    border-top: 2px #fff solid;
}
figcaption .content{
    width: 1080px;
}
.content-img{
    width: auto;
    height: 100%;
    margin: 100px;
}
.img-box{
    max-width: 200px;!important;
    max-height: 190px;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 950px) {
    .row {
        padding: 20px;
    }
    .row .col{
        height: auto;
    }
    .content-box {
        display: inline-block;
        text-align: center;
    }
    .img-box {
        position: relative;
        max-height: 100%;
        max-width: 100%;
    }
    .content-img{
        width: 100%;
        height: 100%;
    }
}
.more{
    margin: 70px 0 70px 0;
    width: 130px;
    height: 50px;
    border: none;
    border-radius: 15px;
    background-color: #042443;
    font-family: font2;
    font-size: 10pt;
    color: white;
    transition: .5s;
}
.more:hover{
    transform: scale(1.1);
    color: #000;
    background-color: #5b80b2;
}
@keyframes loadtransform{
    0%{
        opacity: 0;
        scale: 1.2;
    }
    100%{
        opacity: 1;
        scale: 1;
    }
}
@keyframes loadtransformws{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.alert{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100;
    padding: 15px;
    width: 560px;
    height: 56px;
    background: linear-gradient(
    to left,
    #B60F46,
    #D592FF
    );
    text-align: center;
    border-radius: 50px;
}
.alert-btn{
    position: absolute;
    right: 30px;
    transition: 0.3s;
}
.alert-btn:hover {
    color: white;
}
.alert-close{
    animation: alert-close .2s forwards;
}
@keyframes alert-close {
    100%{
        opacity: 0;
        to {
            display: none;
        }
    }
    0%{
       opacity: 100%;
    }
}