/* start */
header{
    border-bottom-style: groove;
    text-align: center;
    position: relative;
    width: 100%;
}
.filled-shape{
    width: 700px;
    height: 1000px;
    background: linear-gradient(
         to left,
         rgb(52, 152, 219),
         rgb(27, 64, 118)
    );
    border-radius: 50% 0 0 50%;
    text-align: center;
}
.filled-shape img{
    margin-top: 100px;
    width: 80%;
    animation: loadtransform 3s;
}
.filled-shape h1{
    margin-right: -50px;
    color: white;
    font-family: font2;
    text-align: center;
    animation: loadtransform 3s;
}
.filled-shape figcaption{
    margin-right: 20px;
    width: 600px;
    color: #ffffff;
    animation: loadtransform 3s;
}
.about-sack{
    text-align: center;
    font-size: 14pt;
    width: 400px;
    position: absolute;
    right: 60%;
    bottom: 30%;
    animation: loadtransform 3s;
}
@media screen and (max-width: 1200px){
    header{
        margin-top: 60px;
    }
    .filled-shape{
        margin-top: 30px;
        padding: 20px;
        width: 100%;
        height: 680px;
        border-radius: 0;
        margin: 0;
    }
    .filled-shape img{
        margin-top: 50px;
        width: 80%;
        animation: loadtransformws 3s;
    }
    .about-sack{
        margin-top: 30px;
        padding: 20px;
        position: relative;
        right: 0;
        bottom: 0;
        width: 100%;
        animation: loadtransformws 3s;
    }
    .filled-shape h1{
        margin-right: 0;
        color: white;
        font-family: font2;
        text-align: center;
        animation: loadtransformws 3s;
    }
    .filled-shape figcaption{
        margin-right: 0;
        width: 100%;
        color: #ffffff;
        animation: loadtransformws 3s;
    }
}
@keyframes loadtransform{
    0%{
        opacity: 0;
        scale: 1.2;
    }
    100%{
        opacity: 1;
        scale: 1;
    }
}
@keyframes loadtransformws{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* skills */
.skillIcon i{
    color: black;
}
.skillIcon a {
    color: black;
    text-decoration: none;
}
.skills {
    background: var(--mainGrey);
}
.skill {
    height: 280px;
    padding: 2.5rem 0;
    text-align: center;
    transition: var(--mainTransition);
}
.skill-icon {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    transition: var(--mainTransition);
    display: inline-block;
}
.skill-title {
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    color: var(--primaryColor);
    transition: var(--mainTransition);
}
.skill-text {
    line-height: 1.5;
    font-size: 16px;
    max-width: 13rem;
    margin: 0 auto;
}
.skill:hover {
    background: #a82424;
}
.skill:hover .skill-title {
    color: var(--mainWhite);
}
.skill:hover .skill-icon {
    transform: translateY(-5px);
}
@media screen and (min-width: 576px) {
.skill {
    float: left;
    width: 50%;
}
}
@media screen and (min-width: 1200px) {
.skill {
    width: 25%;
}
}
.h2{
    text-align: center;
    font-family: font2;
}
.row{
    width: 100%;
    padding: 100px;
    border-bottom-style: groove;
    transition: .5s;
    text-align: center;
}
.row .col{
    position: relative;
    margin-top: 3px;
    margin-right: 5px;
    display: inline-block;
    width: 400px;
    height: 500px;
    background-color: #b6b6b677;
    text-align: center;
    border-radius: 5px;
}
.col:hover{
    transform: scale(1.04);
}
.col figure figcaption{
    padding: 5px;
    height: 100px;
}
.img-box2{
    height: 300px;
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    border: none;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col img{
    height: 100%;
}
.more{
    font-family: font2;
    width: 120px;
    height: 40px;
    background-color: #3d3d3d;
    color: white;
    border: none;
    border-radius: 40px;
    transition: .6s;
}
.more:hover{
    background-color: #7a7a7a;
    transform: scale(1.05);
}
@media screen and (max-width: 625px){
    .row{
        padding: 0;
    }
    .row .col{
        width: 80%;
    }
    .more{
        margin-top: 40px;
    }
    .img-box2{
        width: 250px;
        height: 250px;
    }
}
/* gallery */
.gallery-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 50px;
    border-bottom-style: dashed;
    position: relative;
}
.gallery-col{
    display: inline-block;
    width: auto;
}
.img--{
    max-width: 100%;
    max-height: 300px;
    border-color: wheat;
    border-style: groove;
}
.img---{
    max-height: 300px;
    width: 100%;
    border-color: wheat;
    border-style: groove;
    transition: .5s;
}
.gallery-col .img--:hover{
    opacity: 50%;
}
@media screen and (max-width:400px) {
    .gallery-row{
        padding: 0;
    }
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}
.gallery img {
    margin: 10px;
    cursor: pointer;
}
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
    animation: opacity 1s;
}
@keyframes opacity {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}
.modal-content {
    margin: auto;
    display: block;
    width: 40%;
}
.content{
    margin-top: 200px;
}
.close {
    position: absolute;
    top: 150px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
    cursor: pointer;
}
@media screen and (max-width: 1200px){
    .modal{
        width: 100%;
    }
    .modal-img{
        width: 100%
    }
}
.video-container {
    border-radius: 20px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
video {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
/* cert */
.cert-row{
    width: 100%;
    overflow: hidden;
    padding: 40px 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.border-box{
    border: solid 2px #a9a9a9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cert-col{
    margin: 40px 0;
    width: 15%;
    display: inline-flex;
}
.img-cert{
    width: 100%;
}
.cert-btn{
    border: none;
    background-color: #2d831b;
    width: 55px;
    height: 55px;
    position: absolute;
    bottom: 4%;
    border-radius: 15px;
    transition: .4s;
}
.cert-btn:hover{
    background-color: #082f0e
}
@media screen and (max-width: 1350px){
    .cert-row{
        padding: 40px 80px;
    }
}
@media screen and (max-width: 750px) {
    .cert-row{
        padding: 40px 40px;
    }
}
@media screen and (max-width: 400px) {
    .cert-row{
        padding: 40px 20px;
    }
}
.sale {
	position: absolute;
    top: -4px;
    left: -4px;
	display: inline-block;
	background: #be2d28;
	color: white;
	height: 2.5rem;
	width: 2.5rem;
	text-align: center;
	vertical-align: middle;
	line-height: 2.5rem;
	transform: rotate(-20deg);
	animation: beat 1s ease infinite alternate;
	&:before,
	&:after {
		content:"";
		position: absolute;
		background: inherit;
		height: inherit;
		width: inherit;
		top: 0;
		left: 0;
		z-index: -1;
		transform: rotate(30deg);
	}
	&:after {
		transform: rotate(60deg);
	}
}
@keyframes beat {
	from {	transform: rotate(-20deg) scale(1); }
	to {	transform: rotate(-20deg) scale(1.1); }
}
.car-container {
    margin: 150px 0;
    padding: 0 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.line{
    height: 1px;
    width: 100%;
    border-bottom: groove 3px;
}

.carousel-row {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    gap: 60px;
    height: 300px;
}

.carousel-col {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    position: absolute;
    opacity: 0.7;
    width: 245px;
    margin: 50px;
}

@media screen and (max-width: 1335px){
    .carousel-row{
        overflow: hidden;
    }
}

.carousel-col img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease-in-out;
}

.carousel-col.center img {
    transform: scale(1.5);
    border-bottom: 3px red solid;
    padding: 5px;
}