{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iranian Yazdan Baft co. - About us & Call us</title>
    {% for item in seo %}
        <meta name="description" content="{{ item.EN_description }}"/>
        <meta name="keywords" content="{{ item.EN_keywords }}">
    {% if item.EN_Href_Lang and item.EN_Href_Lang_Url %}<link rel="alternate" hreflang="fa" href="{{ item.EN_Href_Lang_Url }}" />{% endif %}
    {% endfor %}
    <link rel="stylesheet" href="/static/css/resource.css">
    <link rel="stylesheet" href="/static/css/about_us.css">
    <link rel="stylesheet" href="/static/css/en_styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/static/images/logoyazdan_32x32.ico" type="image/x-icon">
</head>
<body>
    {% include "En/nav.html" %}
    {% block content %}
    {% endblock %}
    <h1 class="first-title">About US & Call US</h1>
    <section class="row">
        <article class="col">
            <h2>About Yazdan Baft Company</h2>
            <div class="text-box">
                <p style="text-align: justify;">Yazdan Baft Company started its activities in the field of production of all polymer derivatives, manufacturing plastic sacks (polypropylene) and wide plastic sheets (polyethylene), and weaving and sewing all kinds of industrial sacks such as jumbo bags, big bags, and bitumen bags. Due to the high quality of its products, Yazdan Baft has been able to satisfy its customers over the course of its operations.</p>
                <p style="text-align: justify;">Our products include various types of jumbo bags, big bags, and bitumen bags in different sizes (500 to 2500 kg), with or without branding, in models with 8 loops, 4 loops, 2 loops, 1 spout top, and 2 spout tops. Additionally, we offer silk nylon at very competitive prices and according to international standards.</p>
            </div>
            <img class="img" src="/static/images/jumbobag3.jpg">
        </article>
    </section>
    <section class="item-row">
        <article class="item-col">
            <figure>
                <h2 class="item-title">Call Us</h2>
                <h3>Chief executive officer CEO</h3>
                <p>First Number</p>
                <a href="tel:+989122857381"><button class="call-btn"><i class="fa fa-telegram"></i></button></a>
                <a href="tel:+989122857381"><button class="call-btn"><i class="fa fa-phone"></i></button></a>
                <a href="tel:+989122857381"><button class="call-btn"><i class="fa fa-whatsapp"></i></button></a>
                <p>Second Number</p>
                <a href="tel:+989121244160"><button class="call-btn"><i class="fa fa-telegram"></i></button></a>
                <a href="tel:+989121244160"><button class="call-btn"><i class="fa fa-phone"></i></button></a>
                <a href="tel:+989121244160"><button class="call-btn"><i class="fa fa-whatsapp"></i></button></a>
                <h3>Sales Manager</h3>
                <a href="tel:+989127663749"><button class="call-btn"><i class="fa fa-telegram"></i></button></a>
                <a href="tel:+989127663749"><button class="call-btn"><i class="fa fa-phone"></i></button></a>
                <a href="tel:+989127663749"><button class="call-btn"><i class="fa fa-whatsapp"></i></button></a>
                <h3>telephone & fax</h3>
                <a href="tel:+989127663749"><button class="call-btn"><i class="fa fa-phone"></i></button></a>
                <a href="tel:+989127663749"><button class="call-btn"><i class="fa fa-fax"></i></button></a>
            </figure>
            <p>To place an order and contact us, click on the numbers</p>
            <a href="/en/representatives"><button class="btn">representatives</button></a>
        </article>
        <article class="item-col">
            <figure>
                <h2 class="item-title">Address</h2>
                <h3>Office and factory address</h3>
                <a href="https://maps.app.goo.gl/KEnVCG1zKCzi52kw7">No 19 & No 44, Sabashahr Industrial Town (Javanzad), 4th Boostan, Opposite Qaem Slaughterhouse, Before AsadAbad, Aderan Road, Tehran, Iran.</a>
                <a href="https://maps.app.goo.gl/KEnVCG1zKCzi52kw7">
                    <div class="map-box">
                        <div class="map-layer"><p>click for view</p></div>
                        <div class="map"><img src="/static/images/Screenshot%202024-08-02%20232055.png" alt="map"></div>
                    </div>
                </a>
            </figure>
            <p>To display our location on the map, click on the button</p>
            <a href="https://maps.app.goo.gl/KEnVCG1zKCzi52kw7" target="_blank"><button class="btn">our location</button></a>
        </article>
        <article class="item-col" style="padding: 0 40px">
            <figure>
                <h2 class="item-title">Our other sites</h2>
                <br>
                <h3>Second Site of Yazdan Baft</h3>
                <div class="logo-sites">
                    <a href="https://yazdanbaft.ir/" target="_blank">
                        <img src="/static/images/logo-yazdanf-300x77%20(1).png" alt="second-site-yazdanbaft-logo">
                    </a>
                    <a target="_blank" href="https://yazdanbaft.ir/"><button class="plus-btn"><ion-icon name="add-outline"></ion-icon></button></a>
                </div>
                <br>
                <h3>Third Site of Yazdan Baft (formerly known as Pouria Baft)</h3>
                <div class="logo-sites">
                    <a href="https://pouryabaft.ir/" target="_blank">
                        <img src="../../static/images/puryabaft%20(1).png" alt="third-site-pouryabaft-logo">
                    </a>
                    <a target="_blank" href="https://pouryabaft.ir/"><button class="plus-btn"><ion-icon name="add-outline"></ion-icon></button></a>
                </div>
            </figure>
            <p>visit our other sites by clicking texts</p>
            <a href="https://yazdanbaft.ir/"><button class="btn">our sites</button></a>
        </article>
        <article class="item-col">
            <figure>
                <h2 class="item-title">social media platforms</h2>
                <div class="social-box">
                    <a href="https://api.whatsapp.com/send?phone=+989122857381" target="_blank"><button class="social-btn"><i class="fa fa-whatsapp"></i></button></a>
                    <a href="https://telegram.me/+989122857381" target="_blank"><button class="social-btn"><i class="fa fa-telegram"></i></button></a>
                    <a href="#" target="_blank"><button class="social-btn"><i class="fa fa-instagram"></i></button></a>
                </div>
            </figure>
            <p>To place an order or contact us</p>
            <a href="https://telegram.me/+989122857381"><button class="btn">social media</button></a>
        </article>
    </section>
        <!-- footer -->
    {% include "En/footer.html" %}
    {% block footer %}
    {% endblock %}
</body>
</html>