{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iranian Yazdan Baft co. - Blog</title>
    {% for item in seo %}
        <meta name="description" content="{{ item.EN_description }}"/>
        <meta name="keywords" content="{{ item.EN_keywords }}">
    {% if item.EN_Href_Lang and item.EN_Href_Lang_Url %}<link rel="alternate" hreflang="fa" href="{{ item.EN_Href_Lang_Url }}" />{% endif %}
    {% endfor %}
    <link rel="stylesheet" href="/static/css/resource.css">
    <link rel="stylesheet" href="/static/css/blog.css">
    <link rel="stylesheet" href="/static/css/en_styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/static/images/logoyazdan_32x32.ico" type="image/x-icon">
</head>
<body>
    {% include "En/nav.html" %}
    {% block content %}
    {% endblock %}
    <section class="row">
        <h1 style="font-family: font2;margin-bottom: 50px; font-size: 35pt;">Blog</h1>
        {% for item in blogs %}
            <article class="col">
                <figure class="figure">
                    <div class="img">
                        <img src="/{{ item.picture }}">
                    </div>
                    <h2>{{ item.EN_name }}</h2>
                    <figcaption>{{ item.EN_discription }}</figcaption>
                    <a href="https://www.instagram.com/?url=https://www.yazdanbaft.com/{{ item.id }}" target="_blank" class="class-icon"><button class="icon"><i class="fa fa-instagram"></i></button></a>
                    <a href="https://api.whatsapp.com/send?text=https://www.yazdanbaft.com/blog/{{ item.id }}" target="_blank" class="class-icon"><button class="icon"><i class="fa fa-whatsapp"></i></button></a>
                    <a href="https://telegram.me/share/url?url=https://www.yazdanbaft.com/blog/{{ item.id }}" target="_blank" class="class-icon"><button class="icon"><i class="fa fa-telegram"></i></button></a>
                    <a style="display: block" href="/fa/blog/{{ item.id }}"><button class="btn">Read More</button></a>
                </figure>
            </article>
        {% endfor %}
    </section>
    {% include "En/footer.html" %}
    {% block footer %}
    {% endblock %}
</body>
</html>
