{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% for item in seo %}
        <title>{{ item.EN_title }}</title>
        <meta name="description" content="{{ item.EN_description }}"/>
        <meta name="keywords" content="{{ item.EN_keywords }}">
    {% if item.EN_Href_Lang and item.EN_Href_Lang_Url %}<link rel="alternate" hreflang="en" href="{{ item.EN_Href_Lang_Url }}" />{% endif %}
    {% endfor %}
    <link rel="stylesheet" href="/static/css/resource.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/en_styles.css">
    <link rel="stylesheet" href="/static/css/alert.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/static/images/logoyazdan_32x32.ico" type="image/x-icon">
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div id="alert" class="alert" role="alert">
                <strong>{{ message }}</strong>
                <a class="alert-btn" id="close-alert"><ion-icon name="close-outline"></ion-icon></a>
            </div>
        {% endfor %}
    {% endif %}
    {% include "En/nav.html" %}
    {% block content %}
    {% endblock %}
    <header>
        <figure class="filled-shape">
            <img src="/static/images/jumbobag1.png">
            <h1>Yazdan Baft, the first manufacturer of sacks in Tehran Province.</h1>
            <figcaption>Yazdan Baft, a company adhering to global standards, has stepped into the realm of producing sacks ranging from 1 to 2 tons. Established since 2001 under various trade names such as Talis Baft and Purya Baft, Yazdan Baft guarantees the quality of your products with modern sack sewing and weaving machines.</figcaption>
        </figure>
        <figure class="about-sack">
            <h2>What are Jumbo Bags, Bitumen bags, and Big Bags? - Sales and Technical Information</h2>
            <figcaption>In search of the best quality Jumbo Bags, Bitumen bags, and Big Bags to meet your needs? We proudly serve as a reliable source for these types of bags in Iran.

We offer Jumbo Bags with unique and attractive designs. These Bitumen bags and Big Bags are made of high-quality plastic and come in various materials and colors.

By viewing samples of Jumbo Bag in our image gallery, you will be convinced of our diverse selection.

We have competitive prices and special offers for purchasing large bags. For more technical information and purchases, contact us.
            </figcaption>
        </figure>
        </header>
        <article class="skill">
            <span class="skill-icon">
                <i class="fa fa-desktop" aria-hidden="true"></i>
            </span>
            <h3 class="skill-title">Online and telephone support</h3>
            <!-- ten words -->
            <p class="skill-text">
                Yazdan Baft provides 24-hour support for assistance.
            </p>
        </article>
        <!-- end of single skill -->
        <!-- single skill -->
        <article class="skill">
            <span class="skill-icon">
                <i class="fa fa-file" aria-hidden="true"></i>
            </span>
            <h3 class="skill-title">High-quality products</h3>
            <!-- ten words -->
            <p class="skill-text">
                Guarantee the quality of your products with us.
            </p>
        </article>
        <!-- end of single skill -->
        <!-- single skill -->
        <article class="skill">
            <span class="skill-icon">
                <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
            </span>
            <h3 class="skill-title">Secure payment</h3>
            <!-- ten words -->
            <p class="skill-text">
                Secure and easy payment with Iranian Yazdan Baft co.
            </p>
        </article>
        <!-- end of single skill -->
        <!-- single skill -->
        <article class="skill">
            <span class="skill-icon">
                <i class="fa fa-warning" aria-hidden="true"></i>
            </span>
            <h3 class="skill-title">Product Warranty</h3>
            <!-- ten words -->
            <p class="skill-text">
                Enjoy peace of mind with Yazdan Baft's product warranty.
            </p>
        </article>
        <!-- Products -->
        <h2 class="h2">Our Products:</h2>
        <section class="row">
            {% for item in products %}
                <article class="col">
                    {% if item.is_special %}
                        <span class="sale">Special!</span>
                    {% endif %}
                    <figure>
                        <img src="/{{ item.picture }}">
                        <h2>{{ item.EN_name }}</h2>
                        <figcaption>{{ item.EN_discription }}</figcaption>
                    </figure>
                    <a href="/en/product/{{ item.id }}"><button class="more">بیشتر بخوانید</button></a>
                </article>
            {% endfor %}
        </section>
        <!-- gallery -->
        <h2 class="h2">Production Photos and Videos</h2>
        <section class="gallery-row">
            {% for item in gallery %}
                <article class="gallery-col">
                    <div class="gallery">
                        <img class="img--" src="/{{ item.file }}" alt="Image 1" onclick="openModal('/{{ item.file }}')">
                    </div>

                    <div id="myModal" class="modal">
                        <div class="content">
                            <span class="close" onclick="closeModal()">&times;</span>
                            <img class="modal-content" id="modalImage">
                        </div>
                    </div>
                </article>
            {% endfor %}
        </section>
        <!--  our colleagues  -->
        <h2 class="h2">our colleagues</h2>
        <div class="car-container">
            <section class="carousel-row">
                {% for item in col %}
                    <article class="carousel-col">
                        <div class="img-border">
                            <img src="/{{ item.image }}" alt="Image 1">
                        </div>
                    </article>
                {% endfor %}
            </section>
        </div>
        <div class="line"></div>
        <!-- certificate -->
        <h2 class="h2">Certificates :</h2>
        <section class="cert-row">
            <article class="cert-col">
                <a href="/en/certificate"><img class="img-cert" src="/static/images/cert (1).jpg"></a>
            </article>
        </section>
    {% include "En/footer.html" %}
    {% block footer %}
    {% endblock %}
    <script src="/static/js/car.js"></script>
</body>
</html>