    <nav class="nav">
        <div class="menu">
            <label for="chk1">
                <ion-icon class="menu-btn" name="menu"></ion-icon>
            </label>
        </div>
        <div class="logo"><a href="/en/home"><img src="/static/images/yb-wite-sma.png"></a></div>
        <div class="search-box">
            <form action="/en/search/" method="POST">
                {% csrf_token %}
                <label>
                    <input type ="text" name ="search" id ="srch" placeholder="Search">
                </label>
                <button type ="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div style="display: none" class="Close">
            <a class="close-btn" onclick="CloseNav">
                <ion-icon id="Close" name="close-sharp"></ion-icon>
            </a>
        </div>
        <ul>
            <li><a href="/en/home">Home</a></li>
            <li><a href="/en/blog">Blog</a></li>
            <li><a href="/en/product">Products</a></li>
            <li><a href="/en/about-us">About Us</a></li>
            <li>
                <a href="tel:+989122857381"><ion-icon name="call-outline"></ion-icon></a>
                <a href="https://api.whatsapp.com/send?phone=+989122857381" target="_blank"><ion-icon name="logo-whatsapp"></ion-icon></a>
                <a href="https://maps.app.goo.gl/KEnVCG1zKCzi52kw7 " target="_blank"><ion-icon name="location-sharp"></ion-icon></a>
                {% if user.is_staff %}
                    <a href="/admin"><ion-icon name="server-outline"></ion-icon></a>
                    <a href="/en/email"><ion-icon name="logo-google"></ion-icon></a>
                {% endif %}
            </li>
        </ul>
    </nav>