{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iranian Yazdan Baft co. - representatives</title>
    {% for item in seo %}
        <meta name="description" content="{{ item.EN_description }}"/>
        <meta name="keywords" content="{{ item.EN_keywords }}">
    {% if item.EN_Href_Lang and item.EN_Href_Lang_Url %}<link rel="alternate" hreflang="fa" href="{{ item.EN_Href_Lang_Url }}" />{% endif %}
    {% endfor %}
    <link rel="stylesheet" href="/static/css/resource.css">
    <link rel="stylesheet" href="/static/css/representatives.css">
    <link rel="stylesheet" href="/static/css/en_styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/static/images/logoyazdan_32x32.ico" type="image/x-icon">
</head>
<body style="min-height: 100vh">
    {% include "En/nav.html" %}
    {% block content %}
    {% endblock %}
    <section class="row" style="min-height: 100vh">
        {% for item in represent %}
        <article class="col">
            <img class="img" src="/{{ item.image }}" alt="{{ item.EN_title }}">
            <figure class="figure">
                <h2 class="title">{{ item.EN_title }}</h2>
                <a class="caption" href="tel:{{ item.phone }}">Phone : {{ item.phone }}</a>
                <p class="caption">Mr {{ item.EN_name }}</p>
                <p class="caption">Address : {{ item.EN_address }}</p>
            </figure>
        </article>
        {% endfor %}
    </section>
    {% include "En/footer.html" %}
    {% block footer %}
    {% endblock %}
</body>
</html>